@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Cabin", sans-serif;
  box-sizing: border-box;
  color: white;
}

#container {
  width: 100%;
  min-height: 100vh;
  background-color: #3b53ad;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

span {
  font-size: 18px;
}

img {
  height: 150px;
}

input {
  width: 500px;
  height: 35px;
  outline: none;
  border: none;
  margin-bottom: 40px;
  padding-left: 20px;
  color: black;
}

button {
  width: 100px;
  height: 35px;
  outline: none;
  border: none;
  background-color: #43c87d;
  color: black;
}

#temprature {
  color: whitesmoke;
  font-size: 60px;
}

p {
  text-align: center;
}
